/*Mini-exercise:*/
/*Use html and css to create a square with a background color on an html page.*/
/*Register an event handler and write its code such that when you click on the square, it*/
/*alerts that it is a square ("I am a square") and*/
/*                                             alerts what color it is. ("I am a big hot pink square")*/

.square {

    background-color: #3B94D9;
}

#anotherSquare {
    border: 1px solid black;

}
.square, #anotherSquare {
    border: 1px solid black;
    width: 120px;
    height: 120px;
}