#map {
    height: 300px;
    width: 100%;
}

#find-city-wrapper {
    margin: 20px 0;
}

.stretchDiv {
    width: 100%;
    margin: 2% 0;
}

#map-functions {
    margin: 10px;
}

/*Affects all the p tags under forecast-card class*/
.forecast-card>p {
    margin: .5rem 0;
}