body {
    /*background-color: #36393f;*/
}

#map {
    height: 300px;
    width: 100%;
    border: 2px solid black;

}
#main-navbar {
    font-family: Impact;
}

#find-city-button {
    border-radius: 5px;
    color: black;
}

#find-city-input {
    border-radius: 5px;
    border: 2px solid black;
}

#find-city-wrapper {
    margin: 20px 0;
    /*border-radius: 20px;*/
}

.stretchDiv {
    width: 100%;
    margin: 2% 0;
}

#map-functions {
    margin: 10px;
}

.forecast-card {
    margin: 0 .8rem;
    /*background-color: #36393f;*/
    border: 2px solid black;
    border-radius: 3px;
    color: black;
}

#forecast-cards-container {
    margin: auto;
    /*background-color: #848487;*/
}

/*Affects all the p tags under forecast-card class*/
.forecast-card>p {
    margin: .5rem 0;
}

.wrapper-image {
    height: 40%;
    width: 70%;
    justify-content: center;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}